<h1>Dashboard</h1>
<ul>
  <li>
    <%= link_to 'Clientes', customers_path %>
  </li>
  <li>
    <%= link_to 'Imóveis', properties_path %>
  </li>
  <li>
    <%= link_to 'Negócios', rents_path %>
  </li>
</ul>
