<h2 class="ui inverted header">
  <div class="content">
    <%= image_tag "logo-transparent-white.png", class: 'logo' %>
    <br>
    <!-- action é o título, como: 'Create a new account' -->
    <%= action %>
  </div>
</h2>
