<div class="ld-flex">
  <div class="ld-block">
    <div class="ld-flex">
      <div class="property-images-grid">
        <% @property.images.each do |image| %>
        <%= image_tag image, class: 'ui medium rounded image' %>
        <% end %>
      </div>

      <h2 class="ui header text-light" style="width: 100%">
        <%= link_to edit_property_path(@property), class: 'right floated', title: 'Editar imóvel' do %>
          <i class="lnr lnr-pencil"></i>
        <% end %>
        <i class="lnr lnr-apartment"></i> <%= @property.description %>
        <div class="sub header">
          <%= @property.address %>
        </div>
      </h2>
    </div>
  </div>
</div>
