<div class="ld-flex">

  <div class="ld-block">
    <h3 class="ld-block-title">
      <i class="lnr lnr-briefcase"></i> Lista de negócios
      <div class="right floated">
        <div class="ui icon transparent small input">
          <i class="lnr lnr-magnifier blue-link link"></i>
          <input type="text" placeholder="Procurar" class="text-light datatable-search">
        </div>
        <%= link_to new_rent_path, title: 'Cadastrar negócio' do %>
          <i class="lnr lnr-plus-circle"></i>
        <% end %>
      </div>
    </h3>
    <div class="ld-block-content">
      <% if @rents.any? %>
        <%= render 'rents/rents_list', rents: @rents %>
      <% else %>
        <div class="text-center text-light">
          Não há negócios cadastrados<br>
          <%= link_to new_rent_path, class: 'register-button' do %>
            <i class="lnr lnr-plus-circle"></i> Cadastrar agora
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
