<div class="ld-flex">

  <div class="ld-block">
    <h3 class="ld-block-title">
      <i class="lnr lnr-apartment"></i> Novo negócio
    </h3>
    <div class="ld-block-content">

      <%= render 'form', rent: @rent %>

    </div>
  </div>
</div>
