<div class="ld-flex">

  <div class="ld-block text-center">
    <h3 class="ld-block-title">
      <%= link_to edit_customer_path(@customer), class: 'right floated', title: 'Editar cliente' do %>
        <i class="lnr lnr-pencil"></i>
      <% end %>
      <i class="lnr lnr-user"></i> <%= @customer.name %>
      <div class="sub header">
        <small><%= @customer.occupation %></small>
      </div>
    </h3>
    <div class="ld-block-content">

      <%= render 'customers/details', customer: @customer %>

    </div>
  </div>
</div>

<%# <div class="ld-flex">
  <div class="ld-block">
    <h2 class="ui horizontal divider header text-light">
      <i class="lnr lnr-apartment"></i>
      Imóveis
    </h2>
  </div>
</div> %>
