$font-family: 'Open Sans'
@import 'semantic-ui'

// === Overrides
// application.rb adiciona essa classe em inputs com erros de validação
.field-error
  background: #FFF6F6 !important
  border-color: #E0B4B4 !important
  color: #9F3A38 !important
  border-radius: '' !important
  box-shadow: none !important
