<header class="main-header" data-grid="header">

  <div class="header-top">
    <div class="header-logo">
      <%= link_to root_path do %>
        <%= image_tag 'logo-transparent-white.png' %>
      <% end %>
    </div>
  </div>

</header>
